@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body {
  font-family: "Lexend", sans-serif;
}

 .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .hamburger {
  position: relative;
  width: 1em;
  height: 1em;
  font-size: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hamburger.is-lg {
  font-size: 2rem;
}

.hamburger-line {
  position: absolute;
  right: 0;
  width: 100%;
  height: 0.125em;
  border-radius: 0.125em;
  background: currentColor;
  transition: all 0.3s ease;
}

.hamburger-line:nth-child(1) {
  top: 0.125em;
}

.hamburger.is-active .hamburger-line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotateZ(-135deg);
}

.hamburger-line:nth-child(2) {
  top: 0.438em;
}

.hamburger.is-active .hamburger-line:nth-child(2) {
  right: 50%;
  width: 0;
}

.hamburger-line:nth-child(3) {
  top: 0.75em;
  width: 0.625em;
}

.hamburger.is-active .hamburger-line:nth-child(3) {
  top: 50%;
  width: 100%;
  transform: translateY(-50%) rotateZ(135deg);
}


/* .menu {
    animation: fadeIn 0.3s ease;

} */


.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


